@import url("boxicons/css/boxicons.min.css");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  scroll-behavior: smooth;
}

:root {
  --bkcolor1: #f1f1f1;
  --bkcolor2: #307ff5;
  --bkcolor3: #212121;
  --bkcolor4: #757575;
  --bkcolor5: #24072a;
  --bkcolor6: #3e1e56;
  --bkcolor7: #ebda4c;
  --bkcolor8: #111111;

  --bkimage1: url("../../public/imgs/Fundo-PDA.png");

  --txtcolor1: #3e1e56;
  --txtcolor2: #212121;
  --txtcolor3: #f1f1f1;

  --ftsize1: 1.6rem;
  --ftsize2: 1.8rem;
  --ftsize3: 1.4rem;
  --ftsize4: 1.2rem;
  --ftsize5: 1rem;
  --ftsize6: 0.8rem;

  --ftweight1: 500;
  --ftweight2: 700;
}

body {
  font-family: "Dela Gothic One", sans-serif;
  background-color: var(--bkcolor1);
  /* background-image: var(--bkimage1); */
  background-size: cover;
  width: 100%;
  /* height: 100svh; */
  display: flex;
  flex-direction: column;
  /* overflow-y: hidden; */
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}

footer {
  /* margin-top: 60svh; */
  background-color: var(--bkcolor5);
  width: 100%;
  height: 50px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: var(--ftsize5);
  color: var(--txtcolor3);
  bottom: 0;
  transition: all 0.5s;
}
